<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org"  id="ng-app" ng-app="phonecat" >
<head>
	<!--[if lte IE 8]>
      <script src="lib/angular/json/json2.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
 
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->
    
  <meta charset="utf-8">
  <title>My HTML File</title>
  <!-- <link rel="stylesheet" href="css/app.css"> -->
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/app.js"></script>
</head>
<body >
  

  <div class="container-fluid" ng-controller="test_controler">
  	<input ng-model="test_name" value="disket"/>
  	<p ng-click="click_testText()"> input text <b> {{test_name}} </b> </p>
  </div>

	<div ng-view></div>
  
</body>
</html>